
# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# AI models
models/

# Runtime data
incoming/
archive/
crops/
generated/
rtsp_frames/
logs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
.env
